{% extends "todo/base.html" %}

{% block title %}홈{% endblock %}

{% block content %}
<a href="/add/">➕ 새 할 일 추가</a>
<ul>
    {% for todo in todos %}
    <li>
        <form method="POST" action="/toggle/{{ todo.id }}/" style="display: inline;">
            {% csrf_token %}
            <input type="checkbox" onchange="this.form.submit()" {% if todo.is_done %}checked{% endif %}>
        </form>

        {% if todo.is_done %}
        <span style="text-decoration: line-through;">
            {{ todo.content }}
        </span>
        {% else %}
        <span>
            {{ todo.content }}
        </span>
        {% endif %}

        <a href="/edit/{{ todo.id }}/">✏ 수정</a>
        <a href="/delete/{{ todo.id }}/">🗑 삭제</a>
    </li>
    {% empty %}
    <li>할 일이 없습니다!</li>
    {% endfor %}
</ul>
{% endblock %}